.hotspot-container {
    position: relative;
}

.hotspot-img {
    width: 100%;
}

.hotspot {
    background: #198ab6;
    border: 2px solid #ffffff;
    border-radius: 50px;
    opacity: 0.9;
    width: 20px;
    height: 20px;
    position: absolute;
    box-shadow: 0px 0px 10px #000;
}

.hotspot:hover {
    background: red;
    cursor: pointer;
    z-index: 1;
}

.hotspot-title {
    font-size: 16px;
    color: #198ab6;
    font-weight: bold;
    margin-bottom: 10px;
}

.embed-container {
    margin-top: 20px;
    text-align: center;
}

#hotspot-1 {
    top: 71%;
    left: 61%;
}

#hotspot-2 {
    top: 66%;
    left: 78.5%;
}

#hotspot-3 {
    top: 74%;
    left: 10.8%;
}

#hotspot-4 {
    top: 24%;
    left: 9.8%;
}

#hotspot-5 {
    top: 64%;
    left: 30%;
}

.default-header-bar img {
    border-bottom: 5px solid #ab2b2b; 
}

#hotspot-6 {
    top: 66%;
    left: 42%;
}

#hotspot-7 {
    top: 72.2%;
    left: 64.4%;
}

#hotspot-8 {
    top: 57%;
    left: 90.4%;
}

.hotspot-tooltip {
    width: 100%;
    height: 100%;
}

.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}

.modal-header::before, .modal-header::after {
    display: table;
    content: " ";
    clear: both;
}

.footer {
    position: relative;
}

.body-content {
    padding-bottom: 0px;
}

.hotspot-btn {
    background-color: #198ab6;
    border-color: #198ab6 !important;
    color: #ffffff !important;
    outline: none !important;
}

button.close {
    outline: none !important;
    opacity: 0.8;
}

button.close > span {
    color: #198ab6;
}

.hotspot-btn:hover {
    background-color: #ffffff !important;
    color: #198ab6 !important;
}

.modal-footer {
    text-align: center;
}

.embed-container > iframe {
    width: 100%;
    height: 360px;
}

@media (min-width: 500px) {
    .modal-dialog {
        width: 480px;
        margin: 30px auto;
    }
}

@media screen and (max-width: 1200px) {
    .hotspot {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 768px) {
    .hotspot {
        width: 10px;
        height: 10px;
        border: 1px solid #ffffff;
    }
}

@media (max-width: 500px) {
    .embed-container > iframe {
        height: calc((100vw - 50px) * 0.75);
    }
}